.crd {

  background: rgba(0, 0, 0, 0.596);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-200px);
  display: flex;
  max-width: 57%;
  padding: 0px 30px;
  margin: 0px auto;


}

.banner {
  height: 300px;
  width: 100%;
  background-color: #f0f0f0;
  background-blend-mode: overlay;
  border-bottom: 5px solid #24b0ed;
  padding: 0px;

}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  background-blend-mode: overlay;
}

.general_query {
  background-color: #F2F2F2;
  color: #24b0ed;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
  height: 350px;
  line-height: 11px;
  padding-top: 30px;
  -webkit-box-shadow: -2px 4px 5px 0px rgba(179,179,179,0.78);
  -moz-box-shadow: -2px 4px 5px 0px rgba(179,179,179,0.78);
  box-shadow: -2px 4px 5px 0px rgba(179,179,179,0.78);
}
.flex{
  display: flex;
}
.sp-left{
  margin-left: 21%;
}
