<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/bg/sc1.png">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white text-center">Get In Touch With Us!</h2>
        </div>
    </div>
</div>
  </div>
</section>
<section>

  <div class="container">
    <div class="row flex pt-4">
      <div class="col-md-4">
        <div class=" general_query wow fadeInUp"  data-wow-delay="0.3s">
          <h4>General Queries</h4>
          <p>+263 6721 22203-5</p>
          <p>+263 67 2124047(procurement )</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class=" general_query wow fadeInUp"  data-wow-delay="0.5s">
          <h4>Future Students</h4>
          <p>admissions cut.ac.zw</p>
          <p>+263 6721 22203-5</p>
          <p>+263 6721 29435(admissions)</p>
          <p>+263 6721 29438(student records)</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="general_query wow fadeInUp"  data-wow-delay="0.7s">
          <h4>Current Students</h4>
          <p>cashofficecut.ac.zw</p>
          <p>studentsaccountscut.ac.zw</p>

          <p>+263 67 2126024(Cash office)</p>
          <p>+263 67 2129461 (Accounts)</p>
          <p>+263 6721 29438(Academic Records)</p>
          <p>+263 67 2127445(student health )</p>
          <p>+263 67 2127445(campus accomodation )</p>
          <p>+263 67 2127445(offcampus accomodation )</p>

        </div>
      </div>

    </div>
  </div>
</section>
