<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/contact-banner.png">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white text-center"><i class="fa-solid fa-phone mr-2"></i>Get In Touch With Us!</h2>
        </div>
    </div>
</div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row flex pt-4">
      <div class="col-md-4">
        <div class=" general_query wow fadeInUp" data-wow-delay="0.3s">
          <h4> <i class="fa-solid fa-clipboard-question mr-2"></i>General Queries</h4>


          <p class="pt-4">Phone: <i class="fa-solid fa-phone"></i></p>
          <p class="sp-left">+263 6721 22203-5</p>
          <p class="sp-left">+263 67 2124047(procurement )</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class=" general_query wow fadeInUp" data-wow-delay="0.5s">
          <h4><i class="fa-solid fa-person-walking-luggage mr-2"></i>Future Students</h4>
          <p class="pt-4">Email :<i class="fa-solid fa-envelope pl-1"></i><span class="pl-2">admissions cut.ac.zw</span></p>
          <p>Phone: <i class="fa-solid fa-phone"></i></p>
          <p class="sp-left">+263 6721 22203-5</p>
          <p class="sp-left">+263 6721 29435(admissions)</p>
          <p class="sp-left">+263 6721 29438(student records)</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="general_query wow fadeInUp" data-wow-delay="0.7s">
          <h4><i class="fa-solid fa-people-group mr-2"></i>Current Students</h4>
          <p class="pt-4">Email :<i class="fa-solid fa-envelope pl-1"></i><span class="pl-2">cashofficecut.ac.zw</span><br><span class="sp-left">studentsaccountscut.ac.zw</span></p>
          <p>Phone: <i class="fa-solid fa-phone"></i></p>
          <p class="sp-left">+263 67 2126024(Cash office)</p>
          <p class="sp-left">+263 67 2129461 (Accounts)</p>
          <p class="sp-left">+263 6721 29438(Academic Records)</p>
          <p class="sp-left">+263 67 2127445(student health )</p>
          <p class="sp-left">+263 67 2127445(campus accomodation )</p>
          <p class="sp-left">+263 67 2127445(offcampus accomodation )</p>

        </div>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="container">
    <h4 class="text-center wow fadeInUp" data-wow-delay="0.3s">Visit Us</h4>
    <div class="row text-center pt-3">
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <h4 >Harare Campus</h4>
        <div class="map">
          <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30384.632374452667!2d31.034758!3d-17.834929!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1931a4f7f8efa5df%3A0xa31e32674838c4ac!2sZIMDEF!5e0!3m2!1sen!2szw!4v1708412373499!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>

      </div>
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <h4>Chinhoyi Campus</h4>
        <div class="map">
          <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.2168764141807!2d30.203256174933852!3d-17.353294083528052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1930b45ff1c0d3e1%3A0x82b212a87e7abd8e!2sChinhoyi%20University%20of%20Technology!5e0!3m2!1sen!2szw!4v1708412437161!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>

      </div>
    </div>
  </div>
</section>
