<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/contact-banner.png">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1  text-center"><i class="fa-solid fa-circle-info mr-2"></i>News</h2>
        </div>
    </div>
</div>
  </div>
</section>

<section class="d-flex justify-content-center align-items-center mt-4">
	<div class="col-11  ">
		<div class="row  ">
			<div class="col-12 text-center cursor-pointer  border-bottom mb-3" *ngIf="news_main">
				<p class="text-muted text-left px-4 cursor-pointer mb-1"
					[innerHTML]="'News Heading: '+(news_main.title | slice:0:150 )"
					[routerLink]="['/news/'+news_main.id]">
				</p>
			</div>
			<div class="container">
				<select class="form-control col-sm-1 float-right" [(ngModel)]="pageSize" >
					<option *ngFor="let i of [8,16,24,32];" >
						{{ i }}
					</option>
				  </select>
				<ngb-pagination *ngIf="notices" class="d-flex justify-content-start" [collectionSize]="notices.length"
					[(page)]="page" [boundaryLinks]="true">

				</ngb-pagination>



				<div class="col-sm-12 col-md-12 col-lg-12 cursor-pointer small order-0 order-sm-0  row ">

					<div class="col-sm-10 col-md-3 col-lg-3 mx-auto" style="padding-bottom: 25px !important;"
						*ngFor=" let item of notices| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">

						<div class="card border-0 cursor-pointer" style="height: 100%;"
							routerLink="/notice-home/{{item.id}}">
							<img class="card-img-top rounded-0 card-img-left img-responsive" style="max-height: 7rem; min-height: 4rem;"
								[src]="item.image_url?serverDetails.serverUrlForStrorage+'/'+item.image_url:'assets/img/academy/notice-place.jpg'"
								alt="">
							<div class="top-left-text text-capitalize">{{ item.notice_category.name}} </div>
							<div class="card-body bg-light pt-0">
								<i class="small">{{item.created_at | date}}</i>
								<p class="date text-dark small">{{item.title | slice:0: 60}}...</p>
								<!-- <p class="card-text font-weight-light text-muted " [innerHTML]="item.story | slice:0: 100">
							</p> -->

							</div>
						</div>
					</div>

				</div>
				<ngb-pagination *ngIf="notices" class="d-flex justify-content-start" [collectionSize]="notices.length"
					[(page)]="page" [boundaryLinks]="true"></ngb-pagination>
			</div>
		</div>
	</div>

</section>
