<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/alumni.jpeg">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white text-center"><i class="fa-solid fa-briefcase mr-2"></i>Vacancies</h2>
        </div>
    </div>
</div>
  </div>
</section>
<section>
  <div class="container">

    <div class="row d-flex justify-content-center">

        <div class="col-md-10">

            <div class="card p-3 py-4">

                <div class="row g-3 mt-2">


                   <div class="col-md-10 ">
                       <input type="text" class="form-control" placeholder="find job here">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-secondary btn-block"><i class="fa-solid fa-binoculars mr-2"></i>Find Job</button>
                    </div>
                </div>
                <div class="mt-3">
              </div>
            </div>
        </div>
    </div>
</div>

  <div class="container mt-5">
    <div class="tabs-to-dropdown">

      <div class="nav-wrapper d-flex align-items-center justify-content-between">


        <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-company-tab" data-toggle="pill" href="#pills-company" role="tab" aria-controls="pills-company" aria-selected="true">Jobs</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false">How to Apply?</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">Why CUT</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Talent Acquisition and Outreach</a>
          </li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <a href="">
              <i class="fa-brands fa-x-twitter" style="color: #24b0ed;"></i>
            </a>
          </li>
          <li class="list-group-item">
            <i class="fa-brands fa-facebook" style="color: #24b0ed;"></i>
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-envelope" style="color: #24b0ed;"></i>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab">
          <div class="container-fluid">
            <h2 class="mb-3 font-weight-bold">Jobs</h2>


            <div class="accordion-wrap">
              <a style="text-decoration: none;" class="accordion" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" >
              <div class="teaser">
                <div class="time">
                  <h5><i style="color: #24b0ed;" class="fa-solid fa-briefcase fa-xl"></i></h5>
                </div>

                <div class="title">
                  <h5>Reprographics Attendant (1 Post)-INTERNAL ADVERTISEMENT</h5>
                  <h6 class="theme">Chinhoyi University of Technology | Permanent <span class="justify-content-end ml-5">posted Dec 8, 2023</span></h6>

                </div>
              </div>

                <div class="collapse" id="collapseOne">
              <div class="content">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>

                <div class="accordion-toggle">
                  <span class="one"></span>
                  <span class="two"></span>
                </div>
              </a>


              <a style="text-decoration: none;" class="accordion" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" >
              <div class="teaser">
                <div class="time">
                  <h5><i style="color: #24b0ed;" class="fa-solid fa-briefcase fa-xl"></i></h5>
                </div>

                <div class="title">
                  <h5 >Reprographics Attendant (1 Post)-INTERNAL ADVERTISEMENT</h5>
                  <h6 class="theme">Chinhoyi University of Technology | Permanent <span class="justify-content-end ml-5">posted Dec 8, 2023</span></h6>
                </div>
                </div>

                <div class="collapse" id="collapseTwo">
              <div class="content">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>

                <div class="accordion-toggle">
                  <span class="one"></span>
                  <span class="two"></span>
                </div>
              </a>



              <a style="text-decoration: none;" class="accordion" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" >
              <div class="teaser">
                <div class="time">
                  <h5><i style="color: #24b0ed;" class="fa-solid fa-briefcase fa-xl"></i></h5>
                </div>
                <div class="title">
                  <h5 style="text-decoration: none;">Reprographics Attendant (1 Post)-INTERNAL ADVERTISEMENT</h5>
                  <h6 class="theme">Chinhoyi University of Technology | Permanent <span class="justify-content-end ml-5">posted Dec 8, 2023</span></h6>
                </div>
                </div>

                <div class="collapse" id="collapseThree">
              <div class="content">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
            </div>

                <div class="accordion-toggle">
                  <span class="one"></span>
                  <span class="two"></span>
                </div>
              </a>
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
          <div class="container-fluid">
            <h2 class="mb-3 font-weight-bold">How To Apply?</h2>

   <p>Interested in joining the CUT community? Utilize our user-friendly job application portal, CUT Careers, to explore our job listings and submit your application. Accessible on your desktop, laptop, or mobile device, CUT Careers is updated daily and encompasses all non-academic positions across every school and department within the Central University of Technology.</p>

<p>We recommend that all applicants carefully review our Frequently Asked Questions page before applying for any available positions at CUT, or if there are any inquiries before, during, or after the application process.</p>

<p>When you come across a role that captures your interest, follow these steps:</p>

<ol>
  <li>Thoroughly examine the essential qualifications and other prerequisites. If your experience, skills, and background align with the requirements, proceed to apply online. Kindly note that individuals who do not meet the fundamental qualifications for a position will not be considered.</li>

  <li>We suggest submitting a customized cover letter with each application. In your candidate portal, you can store multiple versions of your resume and cover letter tailored to various job types that pique your interest.</li>

  <li><strong>IMPORTANT:</strong> Please be aware that once an application has been submitted, it cannot be modified. Thus, we advise all candidates to meticulously review their materials prior to submission. Additionally, you cannot withdraw a previously submitted application in order to make edits or changes and resubmit it for the same job. Each candidate is limited to one application record per requisition.</li>

  <li>Upon receiving your application, a representative from the Human Resources department will review it. If you possess the required qualifications and relevant experience for the position, you will be referred to the hiring manager or team.</li>

  <li>New job opportunities emerge on a regular basis. To stay informed about newly posted positions, ensure that you update your candidate profile in CUT Careers and regularly check for new job listings. You can also set up search agents directly within the CUT Careers system, which will notify you when positions matching your predetermined preferences become available.</li>
</ol>

          </div>
        </div>
        <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
          <div class="container-fluid">
            <h2 class="mb-3 font-weight-bold">Why CUT</h2>


            <p>CUT is a unique institution that fosters a diverse, dynamic, and talented community of individuals who are dedicated to personal and professional growth. By becoming a part of CUT, you join a thriving community that actively contributes to CUT's impactful mission, encourages collaboration and innovation, and facilitates the development of valuable skills and expertise.</p>

            <p>We offer a wide array of exciting and challenging job opportunities that contribute to our exceptional academic environment. We invite you to explore the numerous reasons to pursue a career at CUT:</p>

            <ul>
              <li><strong>Support our inspiring mission:</strong> At CUT, we are deeply committed to educating future leaders and advancing research that positively impacts the world. Our fields of focus span diverse disciplines such as medicine, public health, education, law, engineering, design, and business.</li>

              <li><strong>Connect with incredible individuals:</strong> Working at CUT provides you with the chance to collaborate with remarkable people, including world-renowned researchers, thought leaders, innovators, and problem solvers.</li>

              <li><strong>Enjoy exceptional rewards:</strong> Competitive compensation is just the beginning. From comprehensive healthcare coverage and generous paid time off to an unparalleled range of perks and access to our top-notch facilities, at CUT, you'll receive benefits that are comparable to those offered by the most esteemed institutions in the country.</li>

              <li><strong>Experience our stunning campus:</strong> Our campus spans 209 acres and encompasses a blend of historic buildings adorned with ivy in CUT Yard, as well as modern research and academic structures designed by renowned architects. Conveniently located near public transportation, and surrounded by a variety of dining, shopping, and entertainment options, our campus provides a picturesque backdrop for everything that transpires within our university.</li>
            </ul>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="container-fluid">
            <h2 class="mb-3 font-weight-bold">Talent Acquisition and Outreach</h2>


            <p>The Talent Acquisition and Outreach (TAO) team at CUT is fully dedicated to enhancing and optimizing the talent acquisition and selection process throughout the university. Our primary goal is to strengthen recruitment efforts, share best practices, promote staff diversity through improved outreach initiatives and collaboration with the various schools, and enhance the overall experience for candidates and hiring managers involved in the recruitment process. Furthermore, we are committed to ensuring compliance with fair hiring and selection practices.</p>

            <p>We firmly believe that CUT should be the preferred employer for candidates from diverse backgrounds and disciplines. As a central and strategic operational division of the larger Talent Acquisition and Outreach team at the university, our objective is to provide expert guidance and consultation to recruiters and their respective hiring teams in identifying, attracting, and selecting top talent. Our aim is to serve as the central strategic staffing support group for the university.</p>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>
