<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/bg/sc1.png">

  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white" >The Academy of Teaching and Learning</h2>


        </div>
    </div>
</div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-2">
        <button class="btn btn-block btn-outline directorate-tabs" >Welcome</button>
        <button class="btn btn-block btn-outline directorate-tabs" >Our Staff</button>
        <button class="btn btn-block btn-outline directorate-tabs" >Contact Us</button>
      </div>
      <div class="col-md-7" >
        <div class="welcome-content" style="border-right: 1px solid #5555; padding:0px 30px;">
          <h4>Welcome to  the Directorate of The Academy of Teaching and Learning</h4>
          <p class="pt-3 has-text-justified">
            The Academy of Teaching and Learning is an autonomous unit which functions as the University resource centre for teaching and learning. The mandate of the Academy is to enhance the teaching and learning capabilities of lecturers and students at CUT. This is achieved through activities such as professional development workshops designed for academic staff that are aimed towards setting the parameters and guidelines for ensuring quality teaching and learning. In addition, the Academy of Teaching and Learning runs the Postgraduate Diploma in Higher Education, a One year diploma programme aimed at developing the requisite university instructional skills in lecturers. The Academy of Teaching and Learning is also actively involved in research that is focused on improving teaching and learning.
          </p>

          </div>
      </div>
      <div class="col-md-3">
        <img
        class=" img-fluid director"
        src="assets/images/bg/huncho.png" />

        <div class="d-flex flex-column px-2">

          <p  class="mb-0 font-weight-bold">
            A/DIRECTOR
          </p>
          <p class="mb-0">
            Prof. Maria Tsvere
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row flex pt-4" >
        <div class="col-md-4">
          <div class="cllg_vission wow fadeInUp" data-wow-delay="0.3s">
            <h5 class="text-center pt-5">Mission</h5>
            <p class="format text-center">
              <span>To foster a culture of excellence in teaching and learning within the university and its affiliate colleges through strategies that support and enhance student-centered learning in the lecture room and beyond and professional development initiatives for academic staff</span>

            </p>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Mission</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p ></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cllg_mission wow fadeInUp"  data-wow-delay="0.5s">
            <h5 class="text-center pt-5">Vision</h5>
            <p class="format text-center">				<span >
              The Academy of Teaching and Learning aspires to be a centre that enhances teaching excellence across the University
            </span></p>

          </div>
        </div>
        <div class="col-md-4">
          <div class="cllg_values wow fadeInUp"  data-wow-delay="0.7s" >
            <h5 class="text-center pt-5">Values</h5>

            <p class="format text-center">
              <span>Our core values are embedded in our holistic approach to University Instructional design and delivery, University planned curriculum ad university life.

                Dynamism
                Integrity
                Global citizenship
                Leading through innovation
                Pursuing excellence
                Diligence</span>

            </p>

          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Values</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p ></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">

      <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

                <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Staffs</span></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team/team-1.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team/team-2.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team/team-3.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team/team-4.jpg" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more-staff  wow fadeInUp pt-5" data-wow-delay="0.9s">
              <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOnee" aria-expanded="true" aria-controls="collapseOne">
                More Staff
               </button>
               <div class="container">
                <div id="collapseOnee" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                  </div>
                </div>
               </div>


            </div>

        </div>
    </div>

  </div>
</section>
