<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/alumni.jpeg">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white text-center"><i class="fa-solid fa-link mr-2"></i>ALUMNI GATEWAY!</h2>
        </div>
    </div>
</div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-12">
      <p class="landing-intro">For a brief period, one is a student, but their association with the university as a Gamecock lasts a lifetime. The purpose of the Alumni Association is to establish connections between students and graduates, with the aim of promoting their professional growth, pursuing their interests, and supporting the university.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/bg-alumni.jpeg">
      </div>
      <div class="col-md-6" style="background-color: #F2F2F2;">
          <div class="alumni-content p-5">
            <h3 class="alumni-h1">CUT Alumni Association</h3>

            <p>Phone <i class="fa-solid fa-phone"></i> : +263 6721 22203-5</p>
            <p>Email <i class="fa-solid fa-envelope"></i> : alumnicut.ac.zw</p>
            <p>Address <i class="fa-solid fa-location-dot"></i>: Chinhoyi University of Technology</p>

            <p>Continue your journey as a proffesional with us, join our group of former students to stay updated on university events and promote the welfare of the university’s alumni. Expanding your networks to increase your career opportunities and stay in touch with your school and fellow alumni.</p>
            <a class="p-2 alumni-join-btn"  href="/">Join The Alumni Network <i class="fa-solid fa-arrow-right"></i></a>

          </div>


      </div>
    </div>
  </div>
  <div class="alumni-events text-center"  style="background-color: #24b0ed;">
    <div class="alumni-event-container pb-5">
      <h3 class="alumni-event-h1 pt-5">Alumni Events</h3>
    <p class="alumni-event-p" >Going out is just more fun with fellow Gamecocks! Our association hosts hundreds of engaging events every year. Find one near you.</p>
    <a class="p-2 alumni-join-btn"  href="/">Event Calendar <i class="fa-solid fa-arrow-right"></i></a>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-12 text-center alumni-benefits">
      <h3 class="alumni-ben"><i class="fa-solid fa-link mr-2"></i>Benefits of Joining The Alumni Network</h3>
    </div>
   <div class="row">
    <div class="col-md-4  alumni-benefit">
      <h4 class="text-center">Career Development</h4>
      <img src="assets/images/alumni1.jpeg">
      <p class="alumni-p">Career development enables continuous professional growth through training, workshops, and mentorship, leading to advancement and increased job opportunities. It allows individuals to align their skills and interests with their career path, fostering job satisfaction, personal fulfillment, and a sense of purpose. Investing in career development expands networks, enhances qualifications, and keeps individuals updated on industry trends.</p>

    </div>
    <div class="col-md-4  alumni-benefit">
      <h4 class="text-center">Philanthropic Opportunities</h4>
      <img src="assets/images/mni.jpeg">
      <p class="alumni-p">Engaging in philanthropy allows individuals to make a positive impact on society, addressing social issues and improving lives through donations or volunteer work. It fosters a sense of purpose and fulfillment by aligning values with meaningful actions. Additionally, philanthropic involvement often leads to expanded networks and connections, creating opportunities for collaboration and personal growth.</p>

    </div>
    <div class="col-md-4  alumni-benefit">
      <h4 class="text-center">Knowledge Exchange</h4>
      <img src="assets/images/alumm.jpeg">
      <p class="alumni-p">Engaging in knowledge exchange promotes continuous learning, fosters the sharing of expertise, and provides valuable networking opportunities. It fuels personal and professional development, fostering creativity and innovation. Ultimately, knowledge exchange is a catalyst for lifelong learning, meaningful connections, and advancement in various fields.</p>

    </div>
   </div>

  </div>
</section>

<section>
<div class="row row-pr pb-5 alumni-assoc">
  <div class="col-md-4 ">
    <img src="assets/images/alum.jpeg">
  </div>
  <div class="col-md-8 assoc-alumni">

    <div class="p-5">
      <h3 class="join-alum-assoc">Join the Alumni Association</h3>


     <p class="join-alum-assoc"> While you’re a student for a short time, you’re a Gamecock for a lifetime. Join the alumni association to connect with a strong network of Gamecocks and give back to our beloved university. Our members enable us to engage more students, host more alumni events and programs, and build the brand of CUT around the world</p>
      <a class="p-2 alumni-join-btn"  href="/">CUT Alumni<i class="fa-solid fa-arrow-right"></i></a>

    </div>

  </div>
</div>
</section>
