<!-- Slider Start -->
<section>
  <div class="flex-disp" >
    <div class="col-md-10 bg-blue">
      <div class="caption-txt">
        <h2 class="light lg wow fadeInLeft" data-wow-delay="0.1s">
          <span [innerHTML]="sliderNews[0].title | slice: 0:80"></span>...
        </h2>
        <p class="light format" data-wow-delay="0.3s">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia odio aspernatur sapiente quas veniam. Asperiores deleniti inventore voluptates impedit modi voluptate libero sunt expedita iste porro, doloribus soluta illum nobis.
        </p>
        <a class="white btn btn-primary" style="display:block;width:150px;border-radius: 0px; text-transform: lowercase;">
          View More <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-8 slider-up" data-wow-delay="0.2s">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of sliderNews; let index = index">
          <img  [src]="storageUrl+'/'+slide.picUrl" class="slider-gesture wow zoomIn" data-wow-delay="0.1s" alt="Slide 1" />
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</section>

<section >
  <div class="container">
    <div class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<a style="text-decoration: none;" target="_blank" href="https://www.cut.ac.zw/welcome/admissions">
							<div class="single-schedule first">
								<div class="inner text-center">
									<div class="single-content">
									<h3><i class="fa-solid fa-graduation-cap mr-1"></i><span>Undergraduate</span> Programmes</h3>
                  <span class="mx-auto underline" ></span>
									<p> Foundational education in various disciplines, disciplines.</p>
									<a class="view-more-btn link-hover"  href="https://www.cut.ac.zw/welcome/admissions">view more<i class="fa fa-long-arrow-right"></i></a>
								</div>
								</div>
							</div>
						</a>
						</div>

						<div class="col-lg-4 col-md-6 col-12">
							<a style="text-decoration: none;" target="_blank" href="https://www.cut.ac.zw/welcome/admissions">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner text-center">

									<div class="single-content">

                    <h3><i class="fa-solid fa-graduation-cap mr-1"></i><span>Postgraduate</span> Programmes</h3>
                    <span class="mx-auto underline" ></span>
										<p>Deepen your knowledge and expertise in a specific field..</p>
										<a class="view-more-btn  link-hover" target="_blank" href="https://www.cut.ac.zw/welcome/admissions">view more<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<a style="text-decoration: none;" target="_blank" href="https://www.cut.ac.zw/welcome/admissions">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner text-center">

                  <div class="single-content">

										<h3><i class="fa-solid fa-graduation-cap mr-1"></i><span>Doctorate</span> Programmes</h3>
                    <span class="mx-auto underline" ></span>
										<p>Doctoral programs prioritize original research and knowledge contribution.</p>
										<a class="view-more-btn  link-hover" target="_blank" href="https://www.cut.ac.zw/welcome/admissions">view more<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</section>


  <!-- Section Intro Start -->


<section class="top-mt">
  <div class="container mt-5 p-5">
      <div class="row col-md-12">
        <div class="col-md-6 mt-5 fadeInLeft wow" data-wow-delay="0.1s">
          <h2 style="font-weight: 700;" class="text-uppercase"><span style="border-left: 5px solid #24b0ed; margin-right: 10px; "></span>Study at CUT</h2>
          <p style="text-align: justify;" class="pr-5">Cut produces graduates whose credentials are acknowledged worldwide and have practical relevance in local contexts. These qualifications are supported by a commitment to active participation in society and the promotion of fairness.</p>
          <div class="row col-md-12">
            <div class="left col-md-6">
              <ul class="">
                <li><a class="link-color"><i class="fa-solid fa-pen-to-square spc-btwn"></i>Apply online</a></li>
                <li><a class="link-color"><i class="fa-solid fa-building-columns spc-btwn"></i>Campus Life</a></li>
                <li><a class="link-color"><i class="fa-solid fa-money-bills spc-btwn"></i>Fees Structure</a></li>
                <li><a class="link-color"><i class="fa-solid fa-user-graduate spc-btwn"></i>Become A Graduate</a></li>
                <li><a class="link-color"><i class="fa-solid fa-users spc-btwn"></i>Alumni</a></li>
              </ul>
            </div>
            <div class="right col-md-6">
              <ul class="">
                <li><a class="link-color"><i class="fa-solid fa-stethoscope spc-btwn"></i>Healthy Services</a></li>
                <li><a class="link-color"><i class="fa-solid fa-smoking spc-btwn"></i>Substance Abuse</a></li>
                <li><a class="link-color"><i class="fa-solid fa-baseball-bat-ball spc-btwn"></i>Sports and Recreation</a></li>
                <li><a class="link-color"><i class="fa-solid fa-book-bible spc-btwn"></i>Chaplaincy</a></li>
                <li><a class="link-color"><i class="fa-solid fa-building spc-btwn"></i>Off-Campus Life</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-delay="0.1s">
          <img src="assets/images/study-at-cut.png">
        </div>
      </div>

  </div>
</section>



<section class="section gallery bg-pattern">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-desktop is-10-tablet">
				<div class="section-title has-text-centered zoomIn wow" data-wow-delay="0.2s">
					<h2 style="font-weight: 700;" class="text-uppercase"><span style="border-left: 5px solid #24b0ed; margin-right: 10px;"></span>CUT Today</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container wow fadeInUp" data-wow-delay="0.2s">
		<div class="gallery-wrap">
			<div class="main">
				<ul class="cards">
					<li class="cards_item wow zoomIn" data-wow-delay="0.4s" *ngFor="let item of notices | slice:0:9; let i = index"  routerLink="/notice-home/{{item.id}}">
						<div class="carde" *ngIf="newsData">
							<div class="card_image">
								<span class="note">{{ item.notice_category?.name }}</span>
								<img [src]="item.image_url ? serverDetails.serverUrlForStrorage + '/' + item.image_url : 'assets/images/academy/notice-place.jpg'" alt="notice" />
								<span class="card_price"><span style="padding: 0 3px;">{{ item.created_at | date }}</span></span>
							</div>
							<div class="card_content">
								<div class="card_text">
									<p>{{item.title | slice:0: 60}}</p>
								</div>
							</div>
						</div>
					</li>

          <a class="wow zoomIn" routerLink="/news"  data-wow-delay="0.8s" class="clear mt-3 research-btn d-flex justify-content-center">View More News <span><i class="fa-solid fa-arrow-right ml-1"></i></span></a>

				</ul>

			</div>

		</div>

	</div>


</section>


<section class="bg-minor mb-5">

	<div class="">
		<div class="row col-md-12" style="margin-top: 120px;"  >
			<div class="col-md-6 fadeInUp wow" style="transform: translateY(-35px);" data-wow-delay="0.2s">
				<img src="assets/images/home-1.png">
			</div>
			<div class="col-md-6 fadeInRight wow " data-wow-delay="0.3s">
			<p class="top-space" style="color: rgb(242,242,242);">RESEARCH</p>
			<h2 class="title"><span style="border-left: 5px solid #caa350; margin-right: 10px; "></span>The Opportunity of Inquiry</h2>

			<p class="clear">For scholars who share a common passion for inquiry because of what it can reveal about our world and ourselves, there is opportunity here.</p>
			<a class="clear mt-3 research-btn">Research at CUT <span><i class="fa-solid fa-arrow-right"></i></span></a>
			</div>

		</div>
    <div class="row col-md-12 ">

			<div class="col-md-6 pl-5 fadeInLeft wow" data-wow-delay="0.4s">
        <p class="top-space "  style="color: rgb(242,242,242);">Alumni Network</p>
        <h2 class="title"><span style="border-left: 5px solid #caa350; margin-right: 10px; "></span>Join CUT Alumni Network</h2>

        <p class="clear">
          For a brief period, one is a student, but their association with the university as a Gamecock lasts a lifetime. The purpose of the Alumni Association is to establish connections between students and graduates, with the aim of promoting their professional growth, pursuing their interests, and supporting the university. </p>
          <a class="clear mt-3 research-btn">CUT Alumni <span><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
      <div class="col-md-6 fadeInUp wow" data-wow-delay="0.5s">
				<img src="assets/images/network.png">
			</div>

		</div>

    <div class="row col-md-12">
			<div class="col-md-6 fadeInUp wow" style="transform: translateY(35px);" data-wow-delay="0.6s">
				<img src="assets/images/home-2.png">
			</div>
			<div class="col-md-6 mt-5 fadeInRight wow" data-wow-delay="0.7s">
			<p class="top-space"  style="color: rgb(242,242,242);" >Campus Life</p>
			<h2 class="title"><span style="border-left: 5px solid #caa350; margin-right: 10px; "></span>CUT Campus Life</h2>

			<p class="clear has-text-justified">While achieving academic success is important, university life is also about enjoying oneself and exploring personal talents to become a well-rounded graduate prepared for the world beyond university. At the CUT, we offer a vibrant student experience with numerous opportunities for artistic, cultural, sports, and academic extracurricular activities. We actively encourage all our students to engage in community projects, giving back and gaining valuable experience.</p>
      <a class="clear mt-3 research-btn">Campus Life <span><i class="fa-solid fa-arrow-right"></i></span></a>
			</div>

		</div>
	</div>
</section>




<section class="top-h">

  <div class="layout">
    <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
    <div class="page home-page">
      <div class="page-contents">
      <h1 style="font-size: 26px;">Payments</h1>
      <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas voluptates dolore id aspernatur odit minus quidem deleniti ab rerum exercitationem dolores neque officiis explicabo possimus blanditiis sed, voluptatem ut. Ab?</p>
      <p><label for="about">Learn more</label></p>
      </div>
    </div>
    <label class="nav" for="home">
      <span>
      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
      Payments
      </span>
    </label>

    <input name="nav" type="radio" class="about-radio" id="about" />
    <div class="page about-page">
      <div class="page-contents">
      <h1>About</h1>
      <p>Amet consectetur adipisicing elit. Sed ipsam ad exercitationem, quo quae ullam, quidem laudantium corporis quis minima debitis nesciunt repellat. Quos dolore ex quis voluptas, minus ut?</p>
      </div>
    </div>
    <label class="nav" for="about">
      <span>
      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line></svg>
      About
      </span>
      </label>

    <input name="nav" type="radio" class="contact-radio" id="contact" />
    <div class="page contact-page">
      <div class="page-contents">
      <h1>Contact</h1>
      <p>Eaque accusamus magnam error unde nam, atque provident omnis fugiat quam necessitatibus vel nulla sed quibusdam fuga veritatis assumenda alias quidem asperiores?</p>
      <p><a href="#">Get in touch</a></p>
      </div>
    </div>
    <label class="nav" for="contact">
      <span>
      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
      Contact
      </span>

    </label>
  </div>
</section>

