<div class="top-head">
</div>
<header class="navigation">
	<div class="header-top">
		<div class="container">
			<div class="columns is-gapless is-justify-content-space-between is-align-items-center">
				<div class="col-md-3 is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile full">
					<div class="header-top-info">
						<a style="text-decoration: none;" href="tel:+263 6721 22203-5"><i style="color: #fff;"
								class="icofont-phone mr-2"></i><span style="color: #fff;">+263 6721 22203-5</span></a>
						<a style="text-decoration: none;" href="mailto:support@gmail.com"><i style="color: #fff;"
								class="icofont-email  mr-2"></i><span
								style="color: #fff;">admissions.cut.ac.zw</span></a>
					</div>
				</div>

				<div class="col-md-6 search-cont full">


					<div class="search-bar">

						<div class="top0links ">
							<a style="text-decoration: none;" routerLink="/faqs"><span style="color: #fff;">FAQs</span></a>
									<a class="header-top-links" routerLink="alumni"><span
										style="color: #fff;">Alumni</span></a>
										<a class="header-top-links" routerLink="vacancies"><span
											style="color: #fff;">Vacancies</span></a>
											<a class="header-top-links" href=""><span
												style="color: #fff;">Library</span></a>
                          <a class="header-top-links" routerLink="/contact"><span
                            style="color: #fff;">Contact Us</span></a>
                            <a class="header-top-links" routerLink="/about"><span
                              style="color: #fff;">About Us</span></a>

						</div>
					</div>



				</div>

				<div class="col-md-3 is-6-desktop is-8-tablet pb-2 full">
					<div class="header-top-right has-text-right-tablet has-text-centered-mobile">
						<a style="text-decoration: none;" href="https://www.facebook.com/themefisher" target="_blank"><i
								style="color: #fff;" class="icofont-facebook"></i></a>
						<a style="text-decoration: none;" href="https://twitter.com/themefisher" target="_blank"><i
								style="color: #fff;" class="icofont-twitter"></i></a>
						<a style="text-decoration: none;" href="#" target="_blank"><i style="color: #fff;"
								class="icofont-linkedin"></i></a>
						<a style="text-decoration: none;margin-top: 5px;"  href="https://www.cut.ac.zw/online_application/" class="top-btn wt" >Apply Now</a>
					</div>
				</div>

			</div>
		</div>
	</div>


	<nav id="navbar" class="navbar navbar-sm-expand main-nav">
		<div class="container position-relative">
				<div class="">
					<a >
						<img class="logo-img" src="assets/images/lgg.png" style="height: 60px;" alt="logo"><span
							style="font-size: 14px;"></span>
					</a>
				</div>

			<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</button>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end ">
					<li class="navbar-item">
						<a class="navbar-link" href="index.html">Home</a>
					</li>

					<li class="navbar-item">
						<a class="navbar-link" routerLink="admission">Admissions</a>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Students<span class="material-symbols-outlined gold" >
              arrow_drop_down
              </span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="service.html">E-Learning</a>
							<a class="navbar-item" href="cause-single.html">Results Express</a>
							<a class="navbar-item" href="service.html">Alumni</a>
							<a class="navbar-item" href="service.html">Student Affairs</a>
							<a class="navbar-item" href="service.html">Students Welffare</a>
							<a class="navbar-item" href="service.html">Student Webmail</a>
							<a class="navbar-item" href="service.html">International Students</a>
							<a class="navbar-item" href="service.html">Sporting & Recreation</a>
							<a class="navbar-item" href="service.html">Students Residents</a>
							<a class="navbar-item" href="service.html">FAQs</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Staff<span class="material-symbols-outlined gold">
              arrow_drop_down
              </span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="donation.html">Portal</a>
							<a class="navbar-item" href="volunteer.html">Staff Mail</a>
							<a class="navbar-item" href="volunteer.html">Help Desk</a>
							<a class="navbar-item" href="volunteer.html">Online Directory</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Schools<span class="material-symbols-outlined gold">
              arrow_drop_down
              </span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" routerLink="school" >School of Natural Sciences & Mathematics</a>
							<a class="navbar-item" href="event-single.html">School of Art & Design</a>
							<a class="navbar-item" href="confirmation.html">School of Engineering Science &
								Technology</a>
							<a class="navbar-item" href="404.html">Graduate Business School</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Directorates<span class="material-symbols-outlined gold">
              arrow_drop_down
              </span></a>
						<div class="navbar-dropdown align-right">
							<a class="navbar-item" routerLink="directorate">Research and Graduate Studies</a>
							<a class="navbar-item" href="blog-sidebar.html">Quality Assurance</a>
							<a class="navbar-item" href="blog-single.html">Academy of Teaching & Learning</a>
						</div>
					</li>
					<li class="navbar-item">
						<a target="_blank" class="navbar-link" href="https://www.cut.ac.zw/registry/home">Registry</a>
					</li>

				</ul>



			</div>
		</div>
	</nav>


</header>
