<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="columns is-gapless is-justify-content-space-between is-align-items-center">
				<div class="column is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile">
					<div class="header-top-info">
						<a href="tel:+263 6721 22203-5"><i style="color: #fff;"  class="icofont-phone mr-2"></i><span style="color: #fff;">+263 6721 22203-5</span></a>
						<a href="mailto:support@gmail.com" ><i style="color: #fff;" class="icofont-email mr-2"></i><span style="color: #fff;">admissions.cut.ac.zw</span></a>
                        <a href="mailto:support@gmail.com" ><i style="color: #fff; font-weight: 600;" class=" mr-6"></i><span style="color: #fff;">Track online application button</span></a>
					</div>
				</div>
              
				<div class="column is-6-desktop is-8-tablet">
					<div class="header-top-right has-text-right-tablet has-text-centered-mobile">
						<a href="https://www.facebook.com/themefisher" target="_blank"><i style="color: #fff;" class="icofont-facebook"></i></a>
						<a href="https://twitter.com/themefisher" target="_blank"><i style="color: #fff;" class="icofont-twitter"></i></a>
						<a href="#" target="_blank"><i style="color: #fff;" class="icofont-linkedin"></i></a>
						<a href="donation.html" class="top-btn">Apply Now</a>
					</div>
				</div>
                
			</div>
		</div>
	</div>
	<nav id="navbar" class="navbar main-nav">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="index.html">
					<img src="assets/images/lgg.png" alt="logo">
				</a>
				<button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</button>
			</div>

			<div class="navbar-menu mr-0" id="navigation">
				<ul class="navbar-end">					 
					<li class="navbar-item">
						<a class="navbar-link" href="index.html">Home</a>
					</li>
					
					<li class="navbar-item">
						<a class="navbar-link" href="about.html">Admissions</a>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Students<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="service.html">E-Learning</a>
							<a class="navbar-item" href="cause-single.html">Results Express</a>
                            <a class="navbar-item" href="service.html">Alumni</a>
                            <a class="navbar-item" href="service.html">Student Affairs</a>
                            <a class="navbar-item" href="service.html">Students Welffare</a>
                            <a class="navbar-item" href="service.html">Student Webmail</a>
                            <a class="navbar-item" href="service.html">International Students</a>
                            <a class="navbar-item" href="service.html">Sporting & Recreation</a>
                            <a class="navbar-item" href="service.html">Students Residents</a>
                            <a class="navbar-item" href="service.html">FAQs</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Staff<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="donation.html">Portal</a>
							<a class="navbar-item" href="volunteer.html">Staff Mail</a>
                            <a class="navbar-item" href="volunteer.html">Help Desk</a>
                            <a class="navbar-item" href="volunteer.html">Online Directory</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Schools<span class="ml-1">+</span></a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="event.html">School of Natural Sciences & Mathematics</a>
							<a class="navbar-item" href="event-single.html">School of Art & Design</a>
							<a class="navbar-item" href="confirmation.html">School of Engineering Science & Technology</a>
							<a class="navbar-item" href="404.html">Graduate Business School</a>
						</div>
					</li>

					<li class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Directorates +</a>
						<div class="navbar-dropdown align-right">
							<a class="navbar-item" href="blog-grid.html">Research and Graduate Studies</a>
							<a class="navbar-item" href="blog-sidebar.html">Quality Assurance</a>
							<a class="navbar-item" href="blog-single.html">Academy of Teaching & Learning</a>
						</div>
					</li>
                    <li class="navbar-item">
						<a class="navbar-link" href="about.html">Vacancies</a>
					</li>
                  
					
					<li class="navbar-item">
						<a class="navbar-link" href="contact.html">About Us</a>
					</li>
                    <li class="navbar-item">
						<a class="navbar-link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>