.header__topleftmenu li {
    background: #fff;
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.wt{
    width: 120px;
    font-size: 14px;
    line-height: normal;
   
}

.flash {
    transition: color 0.5;
    transform: scale(1);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

