.header__topleftmenu li {
    background: #fff;
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.search-cont{
    display: flex;
    justify-content: center;
}
.search-bar{
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-top-links{
    text-decoration: none;
    margin-left: 10px;
}

input, optgroup, select, textarea {
    margin: 0;
    font-family: 'Open Sans';
    font-size: inherit;
    line-height:1.6rem;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    padding: 0px 0.75rem;
    outline: #fff;

  }

  .form-control {


    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #9f9e9b;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }



.wt{

    font-size: 12px;




}
.top0links{
    display: flex;
    padding-bottom: 5px;

}


.navbar-brand{
    display: relative;

}
.clipped{
    display: absolute !important;
    background-color: white;
    border-radius: 50%;
    padding-bottom: 0.4rem;
    padding-left:0.8rem;
    box-shadow: 0 20px 16px rgba(10,10,10,.1);
    padding-right: 1rem;


}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.clipped img {
    height: 5rem;
}

.column.is-6-desktop{
  width: 40%;
}

.top-links{
    display: flex;

}


.track-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .track-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
  }
  .top-head{
    border: 3px solid #caa350;
  }


