<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/contact-banner.png">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1  text-center"><i class="fa-solid fa-circle-info mr-2"></i>{{article.title}}</h2>
        </div>
    </div>
</div>
  </div>
</section>
<section class="intro" [ngStyle]="{'background-image': getImage()}">
  <div class="title">
      <h6 [routerLink]="parent.url"  class="text-primary parent cursor-pointer" *ngIf="parent" >{{parent.title}}</h6>
      <h4 class="text-white">{{title}} </h4>
  </div>
  <div id="apply_banner" class="d-flex justify-content-end">
  </div>
</section>


<section>
  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <div class="card">
          <img *ngIf="article"  [src]="storageUrl+'/'+article.image_url" alt=""  class="card-img" alt="Image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="article-cont pt-5">
          <h4>							{{article.created_at |date:'dd MMM yyyy'}}</h4>
          <p class=" pt-5" *ngIf="article" [innerHTML]="article.description">
            <!-- {{ article.story }} -->
          </p>
          <div *ngIf="article.notice_documents" class="bg-transparent">
            <h6 class="small date">
              Download(s)
            </h6>
            <a class="bl small badge badge-pill badge-light mr-1" *ngFor="let document of article.notice_documents" [href]="serverDetails.serverUrlForStrorage +'/'+ document.document.document_url" target="_blank" rel="noopener noreferrer">  <i class="fa fa-file-pdf fa-2xl" aria-hidden="true"></i>  {{ document.document.description |slice:0:30 }} <span class="small">({{ bytesToSize(document.document.document_size)}} )</span> </a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
       <img src="">
      </div>
    </div>
  </div>
</section>
