.crd {

  background: rgba(0, 0, 0, 0.596);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-200px);
  display: flex;
  max-width: 57%;
  padding: 0px 30px;
  margin: 0px auto;


}



.banner {
  height: 300px;
  width: 100%;
  background-color: #f0f0f0;
  background-blend-mode: overlay;
  border-bottom: 5px solid #24b0ed;
  padding: 0px;

}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  background-blend-mode: overlay;
}


.wrapp {
  text-align: center;


}
.page_container {
  margin-top: -45px;
  z-index: 1;
  position: relative;
  margin: auto;
  max-width: 77%;


}

.cllg_nav {
  background-color: #24b0ed;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -65px;

}
.cllg_nav a {
  text-decoration: none;
  color: #FFFFFF;
}
.format{
  text-align: justify;
  color: #373636eb;
}
.flex{
  display: flex;
}

.cllg_mission {
  background-color: rgb(255,255,255);
  color: #555;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
  border-top: 1px solid #caa350;
  height: 335px;
  border-top: 1px solid #caa350;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.cllg_values {
  background-color:  rgb(255,255,255);
  color: #555;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
  height: 335px;
  border-top: 1px solid #caa350;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.cllg_vission {
  background-color: rgb(255,255,255);
  color: #555;
  padding-left: 10%;
  border-top: 1px solid #caa350;
  padding-right: 10%;
  margin-bottom: 5%;
  height: 335px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-link{
  text-decoration: none !important;
  color: #24b0ed;
  font-size: 12px;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.center{
  align-items: center;
  justify-content: center;
}
.sm{
  font-size: 14px;
}
.md{
  font-size: 15px;
}
.more-staff{
  text-align: center;
}

a{
  color: #24b0ed;
  text-decoration: none;
  font-size: 17px;
}


.accordion-item{
  border: none !important;
}
.btn-outline-primary
{
  border-color: #caa350;
  color: #555;
}
.btn-outline-primary:hover
{
  border-color: #24b0ed;
  color: #fff;
}

.staff-card {
  width: 300px;
  border: 1px solid #f0ecec;
  overflow: hidden;
  max-height: 450px;

}

.card-image img {
  width: 100%;
  height: 250px;
  border-radius: 0px;
}

.card-content {
  padding: 5px;
  text-align: center;
  font-size: 12px;
}


.social-icons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-icons a {
  margin: 0 5px;
  color: #333;
  font-size: 20px;
}

.social-icons a:hover {
  color: #bbb;
}


.card {
  border: 0;
  border-radius: 0px;

}
.blue{
  color: #24b0ed;
  border: 1px solid #24b0ed;
  bottom: 0;
}

.card-image
{
  border: 2px solid #24b0ed;
}


.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}

svg {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: #fff;

}
.btn-apply{
  background-color: #caa350;
  color: #fff !important;
}
.nav-link{
  padding: 5px !important;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: normal !important;
}

.program-link{
  font-size: 13px; cursor: pointer;
}
