<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/alumni.jpeg">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white text-center"><i class="fa-solid fa-folder-open mr-2"></i>Online Directory</h2>
        </div>
    </div>
</div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="card-info col-md-6">
        <div class="card-content">
          <h3>Internal Telephone Directory</h3>
          <p>VOIP INSTRUCTIONS</p>

          <ol>
            <li>VoIP phone VoIP phone(SOFT PHONE, SIP PHONE AND BLUE ROOF ANALOGUE PHONES)</li>
            <p>Dial the number directly for example 4000 to 2130, dial 2130 from 4000.</p>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
