<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/alumni.jpeg">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp">
            <h2 class="pt-1 white text-center"><i class="fa-solid fa-folder-open mr-2"></i>Online Directory</h2>
        </div>
    </div>
</div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card-info col-md-9">
        <div class="card-content">
          <h3>Internal Telephone Directory</h3>
          <p>VOIP INSTRUCTIONS</p>

          <ol>
            <li>VoIP phone VoIP phone(SOFT PHONE, SIP PHONE AND BLUE ROOF ANALOGUE PHONES)</li>
            <p>Dial the number directly for example 4000 to 2130, dial 2130 from 4000.</p>

            <li>VoIP phone to Analog(MAIN CAMPUS EXTENSIONS NOT ON VOIP).</li>
            <p>Dial * followed by the extension number. For example 4000 calling 1224, dial *1224.</p>
            <li>VoIP phone to Switchboard</li>
            <p>Dial #0.</p>
            <li>Analogue phone to VoIP phone</li>
            <p>Dial *620, Wait for IVR(Recorded message), then dial the extension. For example 1224 calling 4000, dial *620, recording then 4000.</p>
          </ol>
          <h5>Search</h5>
          <div class=" search row">
            <input type="text" id="search-input" style="border: #2b2a2a;" name="search-input" placeholder="Enter your search query">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
