<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/alumni.jpeg">
  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
      <div class="wrapp row">
          <h2 class="pt-1 white text-center">Frequently Asked Questions <i class="fa-solid fa-circle-question"></i></h2>
          <div class="search-container ">
            <input type="text" id="faq-search" placeholder="Search FAQ..." style="width: 100%;">
            <button type="button" class="search-button"><i class="fa-solid fa-search"></i></button>
        </div>
      </div>
  </div>


</div>
  </div>
</section>

<section>
<div class="container">
  <div class="row col-md-12">
    <div class="col-md-4">
      <div class="questions-box">
        <h3 class="ml-5">Questions by Topic</h3>

        <hr>
        <div class="questions-content ml-5">
          <ul>
            <li><a href="">Questions about CUT</a></li>
            <li><a href="">Applying to CUT</a></li>
            <li><a href="">International Students</a></li>
            <li><a href="">Visiting Undergraduate Students</a></li>
            <li><a href="">Admissions</a></li>

          </ul>

        </div>

      </div>
    </div>

    <div class="col-md-8">
    <div class="solutions-box">
      <div class="qstn-solutions">
        <h3 class="ml-5">Questions about CUT</h3>

        <p>General</p>
      </div>

    </div>
    <div class="solutions-box">
      <div class="qstn-solutions">

          <div class="accordion">
            <div class="accordion-item">
              <button id="accordion-button-1" aria-expanded="false" #accordionButton><span class="accordion-title">Why is the moon sometimes out during the day?</span><span class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
              </div>
            </div>
            <!-- Repeat the same structure for other accordion items -->
          </div>



      </div>

    </div>
    </div>

  </div>
</div>
</section>
