.crd {

    background: rgba(0, 0, 0, 0.596);
    position: relative;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-170px);
    display: flex;
    max-width: 77%;
    padding: 0px 30px;
    margin: 0px auto;


  }

  .shadow{
    box-shadow: 0 0 10px rgba(23, 23, 23, 0.33) !important;
  }


  .wrapp {
    text-align: center;


  }

  .bg-dark{
    background-color: beige;
  }



  ul a{
    text-decoration: none;
    line-height: normal;
    font-size: 14px;

  }

  a:hover{
    color: #fff;
    background-color: #caa350;
  }


  .crdd ul a{
    color: #000;
  }


  .crdd {
    background-color: #fff;
    position: relative;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-170px);
    display: flex;
    max-width: 60%;
    margin: 0 auto;
}





  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #24b0ed;
}

.btn-primary:hover{
  background-color: #caa350 !important;
  color: #fff !important;
}
.brown-color{
  color: #caa350;
}
.nav-pills-custom .nav-link {
    color: #777676;
    background: #fff;
    position: relative;
    border-radius: 0px;
}

.nav-pills-custom .nav-link.active {
    color: #fff;
    background: #24b0ed;

}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}




.mt-20{
  margin-top: 50px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  margin: 0px 0px 15px 0px;

}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  line-height: 26px;
}

h5 {
  font-size: 15px;
  line-height: 26px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0px 0px 20px 0px;
}

p:last-child {
  margin: 0px;
}

.white{
  color: #fff;
}
.bl{
  color: #24b0ed;
}

a {
  color: #71748d;
}

a:hover {
  color: #555 !important;
  text-decoration: none;

}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

.btn-secondary {
  color: #fff;
  background-color: #ff407b;
  border-color: #ff407b;
}

.btn {
  font-size: 14px;
  padding: 9px 16px;
  border-radius: 0px;
  border: none;
}


.tab-vertical .nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 0px;
  border-bottom: 0;
  width: 320px;

}

.tab-vertical .nav.nav-tabs .nav-item {
  margin-bottom: 5px;
}

.tab-vertical .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background: #fff;
  padding: 10px 29px;
  color: #71748d;
  background-color: #dddde8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.tab-vertical .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #24b0ed;
  border-color: transparent !important;
}

.tab-vertical .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 0px !important;
}

.tab-vertical .tab-content {
  overflow: auto;
  border-radius: 0px;
  background: #fff;
  padding: 30px;
  display: flex;
}
.flex-display-content{
  display: flex;
}

.text-brown{
  background-color: #71748d;
}

.small-font{
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.program-item{
  text-decoration: none;
  padding-left: 0px;


}

.link-sm{
  font-size: 0.7rem;
  color: #24b0ed;
}



.quote{
  text-align: center;
  font-size: 1rem;
  margin: auto;
  position: relative;

}
blockquote{
  color:#777676;
  font-style: italic;
  position: relative;
  text-align: center;
}
.left{
  position: absolute;
  top: -40px;
  left: -20px;
  width: 150px;
  text-align: left;
  font-size: 2rem;
  color: #24b0ed;

  line-height: 200px;
}
.right{
  position: absolute;
  bottom: -70px;
  right: -0px;
  width: 150px;
  text-align: right;
  z-index: 10;
  font-size: 2rem;
  color: #caa350;

  line-height: 130px;
}
small{
  font-size: 1rem;
  color: #24b0ed;
  position: relative;
  &:before{
    content: "\2014 \0020";
    width: 5px;
  }
}

.vertical-l{
  color: #a02727;
  transform:rotateY('angle');

}
.nav-pills .nav-link.active{
  background: #24b0ed;
  border: 2px solid #24b0ed;
  color: #fff;
}
.nav-pills .nav-link{

  color: #24b0ed;
}
.border-primary{
  background: #24b1ed29;

}
