
<section class="section feature pb-0">
    
	<div class="container">
        <div class="col-md-12">
           
                <div class="crd mx-auto">
                <div class="col-md-6 col-sm-12">
                    <div class="wrapp">
                        <h2 class="pt-3">UNLOCK YOUR UNSTOPPABLE CAREER</h2>
                        <div class="flex-display">
                            <a class=" unlock-btn btn btn-primary text-center ">I am looking to apply </a>
                            <a class=" unlock-btn btn btn-primary text-center ">Applicant Information </a>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="wrapp">
                        <h2 class="pt-3">APPLICATION FORMS</h2>
                     <ul class="">
                        <li><a href="">Undergraduate Application Form</a></li>
                        <li><a href="">Postgraduate Application Form</a></li>
                        <li><a href="">Dphil Application Form</a></li>
                        <li><a href="">MPhil Application Form</a></li>
                        <li><a href="">Doctorate Application Form</a></li>
                    
                     </ul>
                    </div>
                </div>
            
               
            </div>
         
            <div class="crdd mx-auto">
                <div class="col-md-12">
                    <div class="wrapp">
                        <ul class="white-card-links">
                            <li><a href="">Find a career or degree</a></li>
                            <li><a href="">Why study at CUT?</a></li>
                            <li><a href="">Student Life</a></li>
                            <li><a href="">Study With Us</a></li>
                            <li><a href="">Further study choices</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
		<div class="columns is-gapless is-multiline">
          
          
			<div class="column is-4-desktop is-4-tablet">
				<div class="feature-inner">
					<i class="icofont-home"></i>
					<h4>Founded in 1962</h4>
					<p class="mb-4">Work Since 1987 with Pride!!</p>
					<p>Cum voluptas tenetur, voluptatibus mollitia odio sint, alias debitis quasi ut commodo consequat.</p>
				</div>
			</div>
			<div class="column is-4-desktop is-4-tablet">
				<div class="feature-inner">
					<i class="icofont-web"></i>
					<h4 >Our History</h4>
					<p class="mb-4">Mission to make smile the world</p>
					<p>Cum voluptas tenetur, voluptatibus mollitia odio sint, alias debitis quasi ut commodo consequat.</p>
				</div>
			</div>
			<div class="column is-4-desktop is-4-tablet">
				<div class="feature-inner">
					<i class="icofont-users"></i>
					<h4>Large Community</h4>
					<p class="mb-4">Join our community & help others</p>
					<p>Cum voluptas tenetur, voluptatibus mollitia odio sint, alias debitis quasi ut commodo consequat.</p>
				</div>
			</div>

		</div>
	</div>
</section>