
<section class="section feature pb-0">

	<div class="container">
        <div class="col-md-12">

                <div class="crd mx-auto">
                <div class="col-md-12 col-sm-12">
                    <div class="wrapp">
                        <h2 class="pt-3 white">UNLOCK YOUR UNSTOPPABLE CAREER</h2>
                        <div class="flex-display">
                            <a class=" unlock-btn btn btn-primary text-center ">I am looking to apply </a>
                            <a class=" unlock-btn btn btn-primary text-center ">Applicant Information </a>
                        </div>

                    </div>
                </div>
           <hr style="height: 1px; color: #fff; opacity: 1;">



            </div>

            <div class="crdd mx-auto">
                <div class="col-md-12">
                    <div class="wrapp">
                        <ul class="white-card-links">
                            <li><a href="">Find a career or degree</a></li>
                            <li><a href="">Why study at CUT?</a></li>
                            <li><a href="">Student Life</a></li>
                            <li><a href="">Study With Us</a></li>
                            <li><a href="">Further study choices</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
		<div class="columns is-gapless is-multiline">


	<div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fa-solid fa-circle-question mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">How to Apply </span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fa-solid fa-money-check-dollar mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Fees Structure</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <i class="fa fa-certificate mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">Admission Requirements</span></a>

                    <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fa fa-question mr-2"></i>
                        <span class="font-weight-bold small text-uppercase">FAQs</span></a>
                    </div>
            </div>
            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow  bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img src="assets/images/bg/procedure.png">

                    </div>

                    <div class="tab-pane fade shadow  bg-white p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h4 class="font-italic mb-4">Bookings</h4>
                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="tab-pane fade shadow  bg-white p-5" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h4 class="font-italic mb-4">Reviews</h4>
                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="tab-pane fade shadow  bg-white p-5" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h4 class="font-italic mb-4">Confirm booking</h4>
                        <p class="font-italic text-muted mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>




        </div>

			</div>





		</div>

	</div>
</section>

<section class="section  pb-0">

	<div class="container">

		<div class="columns is-gapless is-multiline">


        <div class="container-fluid">
          <div class="row" style="border: 1px solid #24b0ed;">
            <div class="col-12  py-2 my-4">
              <h3 class="text-center text-black" data-aos="flip-right">
                <i class="fas fa-graduation-cap fa-1x  "></i> Our Programs
              </h3>

            </div>


            <div class="col-sm-12 col-md-12 row mx-auto">
              <!-- <h6 class="text-center"> <i class="fas fa-calendar-alt   fa-fw"></i> </h6> -->
              <div class="nav col-md-4 col-lg-3  nav-pills d-none d-md-block" role="tablist"
                aria-orientation="vertical"
                data-aos="fade-right" >
                <button href="#" *ngFor="let item of schools; let i=index" (click)="selected(i)"
                  class="nav-link small btn btn-link btn-small text-left btn-lg-block "
                  [ngClass]="{'active': indexSelected==i}" id="v-pills-home-tab" data-toggle="pill" role="tab"
                  aria-controls="v-pills-home" aria-selected="true">
                  {{item.name}}
                </button>
              </div>

              <div class="col-md-8 col-lg-9 col-sm-12" *ngIf="selectedSchool" style="background-color: #b3b1b10c;">
                <div class="tab-pane fade show " id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
                  <div class="row">
                    <div class="col-12 border-bottom border-primary">
                      <h5 class="text-center text-black mx-3 pt-3" *ngIf="schools" >
                        {{schools[indexSelected].name}}
                      </h5>

                    </div>
                    <div class="col-sm-12 col-md-4 " data-aos="fade-right">
                      <!-- <h5 class="">
                        About
                      </h5> -->

                      <p class="small text-justify" *ngIf="selectedSchool.description"
                        [innerHTML]="(selectedSchool.description.about | slice:0:350)+ '...'">

                      </p>
                      <h6 class="small">
                        Departments
                      </h6>
                      <ul class="small" *ngIf="selectedSchool">
                        <li *ngFor="let item of selectedSchool.departments; let i=index">{{item.name}}</li>
                      </ul>
                      <p class="small">
                        <a [routerLink]="['/','school',getUrl(selectedSchool.id)]">
                          read more info...
                          <i class="fas fa-arrow-circle-right fa-sm fa-fw"></i>
                        </a>

                      </p>
                    </div>
                    <div class="col-sm-12 col-md-8  " data-aos-offset="-400" data-aos="fade-up"
                      data-aos-duration="1000" data-aos-anchor-placement="bottom-center">

                      <div class="border-bottom-0 row">
                        <div class="col-sm-12 col-md-12 col-lg-6" >
                          <h3 class="text-center">Programs</h3>
                          <ul class="small  ">
                            <li class="text-primary cursor-pointer"
                              *ngFor="let item of selectedPrograms; let i=index"
                              [routerLink]="['/','program',getUrl(item.id)]">{{item.title}}</li>
                          </ul>

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 " >
                          <h3>School Events</h3>
                          <div *ngIf="selectedSchool">
                            <div *ngFor="let item of selectedSchool.events; let i=index"
                              class="d-flex flex-row my-1  shadow rounded-0  cursor-pointer ">
                              <div class="col-sm-4 px-0">
                                <div [ngClass]="{'bg-success': 0==i,'bg-warning': 1==i}"
                                  class="w-100 h-100 d-flex justify-content-center align-items-center text-center rounded-0 date mr-1">
                                  <div>

                                    <h6>{{item.date_of_event | date:'dd'}}</h6>
                                    <h6>{{item.date_of_event | date:'MMM'}}</h6>
                                    <h6>{{item.date_of_event | date:'yyyy'}}</h6>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <h6 class="px-1">{{item.title}}</h6>
                                <p class="small px-1" [innerHTML]="item.description | slice:0:100">

                                </p>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <app-appy-now-lg></app-appy-now-lg> -->
            </div>
          </div>
          <div class="row order-bottom py-1">
          </div>
        </div>






		</div>

	</div>
</section>




