<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-4-desktop is-6-tablet">
				<div class="footer-widget widget">
					<h4 class="is-capitalize mb-4 text-gold">Chinhoyi University of Technology</h4>
					<p class="text-whyte">Private Bag 7724
                        
                        <br>Chinhoyi, Zimbabwe<br>Tel: +263 6721 22203-5</p>

					<ul class="list-unstyled footer-menu mt-6 text-whyte ">
						<li><a><i class="icofont-phone"></i>Procurement Office : +263 67 2124047</a></li>
                        <li><a ><i class="icofont-phone"></i>Student Accounts Office : +263 67 2129461</a></li>
                        <li><a><i class="icofont-phone"></i>Academic Records: 	+263 6721 29438</a></li>
                        <li><a><i class="icofont-phone"></i>Academic Admissions : 	+263 6721 29435</a></li>
                        <li><a><i class="icofont-phone"></i>Cash Office: : +263 67 2126024
                        </a></li>
			
					</ul>
               
                    
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href=""><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="column is-2-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h4 class="is-capitalize mb-4 text-gold">Banking Details</h4>
                    <p style="font-size: 16px;" class="text-whyte">CBZ</p>
					<ul class="list-unstyled footer-menu lh-35">
						<li class="whyte"><a >Chinhoyi Branch</a></li>
						<li class="whyte"><a >ZWL$ Account - 09821460210054</a></li>
						<li class="whyte"><a >US$ Account - 09821460210084</a></li>
                        
                        <p style="font-size: 16px;" class="text-whyte mt-3">ZB Bank</p>
					
						<li class="whyte"><a >Chinhoyi Branch</a></li>
						<li class="whyte"><a >ZWL$ Account - 4565-386395-200
                        </a></li>
						<li class="whyte"><a >US$ Account - 4565-386395-410</a></li>
					</ul>
               
					
				</div>
			</div>
            

			<div class="column is-3-desktop is-6-tablet">
				<div class="footer-widget widget">
					<h4 class="is-capitalize mb-4 text-gold">Quick Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Students Portal</a></li>
						<li><a href="#">Library</a></li>
						<li><a href="#">C.U.T News</a></li>
						<li><a href="#">Financial Statements</a></li>
                        <li><a href="#">Programs</a></li>
						<li><a href="#">TimeTables</a></li>
					</ul>
				</div>
			</div>
			
			<div class="column is-3-desktop is-6-tablet">
				<div class="widget footer-widget">
					<h4 class="is-capitalize mb-4 text-gold">Downloads</h4>
                    <ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Offcampus Database</a></li>
						<li><a href="#">Undergraduate Application Form</a></li>
						<li><a href="#">Postgraduate Application Form</a></li>
						<li><a href="#">MPhil Application Form</a></li>
                        <li><a href="#">Doctorate Application Form</a></li>
						<li><a href="#">Annual Report</a></li>
                        <li><a href="#">Financial Statements</a></li>
                        <li><a href="#">Strategic Plan</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-5">
			<div class="columns is-justify-content-center">
				<div class="column is-12 bg-opac" >
					<div class="copyright has-text-centered">
						<small>&copy; 2024 Chinhoyi University of Technology.
                            Made with <i class="fa-solid fa-heart fa-beat fa-lg" style="color: #e01024;"></i> by  <a href="/" target="_blank" style="color: #fff;"> ICT DEVELOPERS</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>