<section class="section pt-0">
  <div class="col-md-12 banner">
  <img class="banner-img" src="assets/images/bg/sc1.png">

  <div class="crd mx-auto">
    <div class="col-md-12 col-sm-12">
        <div class="wrapp"  *ngIf="directorate">
            <h2 class="pt-1 white" >			{{directorate.name}}</h2>
        </div>
    </div>
</div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-2">
        <a  class="btn btn-block btn-outline directorate-tabs"  >Welcome</a>
        <a href="directorate/{{myUrl}}#staff" class="btn btn-block btn-outline directorate-tabs" >Our Staff</a>
        <button class="btn btn-block btn-outline directorate-tabs" >Contact Us</button>
      </div>
      <div class="col-md-7" *ngIf="directorate && directorate.description">
        <div class="welcome-content" style="border-right: 1px solid #5555; padding:0px 30px;">
          <h4>Welcome to the {{directorate.name}}</h4>
          <p class="pt-3 has-text-justified" [innerHTML]="directorate.description.about">

          </p>

          </div>
      </div>
      <div class="col-md-3">
        <img *ngIf="director" [title]="director.title+ ' '+director.initials +' '+director.last_name+ ': director' "
        class=" img-fluid director" data-descr="director.title+ ' '+director.initials +' '+director.last_name+ ': director' "
        [src]="this.serverDetails.serverUrlForStrorage +'/'+director.picUrl"  />
        <img *ngIf="!director"
        class=" img-fluid director"
        src="assets/images/bg/huncho.png" />
        <div class="d-flex flex-column px-2">
          <p *ngIf="director" class="mb-0">
            {{director.title +' '+ director.initials}} . {{director.last_name}}
          </p>

          <p *ngIf="director" class="mb-0 font-weight-bold">
            {{director.position}}
          </p>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row flex pt-4" *ngIf="directorate.description">
        <div class="col-md-4">
          <div class="cllg_vission wow fadeInUp" data-wow-delay="0.3s">
            <h5 class="text-center pt-5" *ngIf="directorate.description.mission">Mission</h5>
            <p class="format text-center">
              <span *ngIf="directorate.description.mission" [innerHTML]="directorate.description.mission | slice:0:180"></span>
              <span *ngIf="directorate.description.mission.length > 180" data-toggle="modal" data-target="#exampleModal">...</span>
            </p>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Mission</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p [innerHTML]="directorate.description.mission"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cllg_mission wow fadeInUp"  data-wow-delay="0.5s"  *ngIf="directorate.description.vision">
            <h5 class="text-center pt-5">Vision</h5>
            <p class="format text-center">				<span *ngIf="directorate.description.vision"  [innerHTML]="directorate.description.vision"></span></p>

          </div>
        </div>
        <div class="col-md-4">
          <div class="cllg_values wow fadeInUp"  data-wow-delay="0.7s"  *ngIf="directorate && directorate.description">
            <h5 class="text-center pt-5">Values</h5>

            <p class="format text-center">
              <span *ngIf="directorate.description.values" [innerHTML]="directorate.description.values | slice:0:180"></span>
              <span *ngIf="directorate.description.values.length > 180" data-toggle="modal" data-target="#exampleModal2">...</span>
            </p>

          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Values</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p [innerHTML]="directorate.description.values"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section id="staff">
  <div class="container">

      <div class="container-xxl py-5">
        <div class="container" *ngIf="staff">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

                <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Staffs</span></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s" *ngFor="let staffMember of staff ">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                          <img class="img-fluid" [src]="this.serverDetails.serverUrlForStrorage+'/'+ staffMember.details.picUrl"  alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">{{staffMember.details.title}}: {{ staffMember.details.first_name }} {{ staffMember.details.last_name }}</h5>
                            <small>{{staffMember.details.position}}</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more-staff  wow fadeInUp pt-5" data-wow-delay="0.9s">
              <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOnee" aria-expanded="true" aria-controls="collapseOne">
                More Staff
               </button>
               <div class="container">
                <div id="collapseOnee" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                  </div>
                </div>
               </div>


            </div>

        </div>
    </div>

  </div>
</section>

